.icon-check_circle:before
  content: "\e905"
.icon-close:before
  content: "\e906"
.icon-remove_circle_outline:before
  content: "\e908"
.icon-add_circle:before
  content: "\e908"
.icon-keyboard_arrow_right:before
  content: "\e909"
